@font-face {
  font-family: 'helvetica';
  src: url('./font/HelveticaNeueRoman.otf') format('truetype');
}

:root {
  --primary-color: #59316b;
  --primary-color-light: #f9e4e7 linear-gradient(90deg, #f9e4e7 0, #fbf4ef);
  --secondary-color: #ffbf00;
  --secondary-dark-color: #e1a902;
  --text-color: #e6d5ee;
  --gray-color: #e5e5e5;
  --dark-gray-color: #625f5b;
  --dark-gray-trans-color: #625f5baa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: 'helvetica', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
  user-select: none;

  background-color: var(--text-color);

  height: 100vh;
  width: 100vw;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
