@import './base.css';

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
  line-height: 3rem;
}

p {
  text-align: center;
  line-height: 1.5rem;
  font-size: 1rem;
}

.screen {
  width: 100%;
  max-width: 450px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.headline {
  background-color: var(--primary-color);
  width: 100%;
  height: 50vh;
  min-height: -moz-fit-content;
  min-height: fit-content;
  color: var(--text-color);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a.primary-btn,
a.secondary-btn,
a.tertiary-btn {
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-weight: 600;
  text-align: center;
}

a.primary-btn {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 2.5px solid var(--primary-color);
}

a.secondary-btn {
  background-color: transparent;
  color: var(--primary-color);
  border: 2.5px solid var(--primary-color);
}

a.tertiary-btn {
  background-color: var(--secondary-dark-color);
  color: var(--primary-color);
  border: 2.5px solid var(--secondary-dark-color);
}

@media (max-width: 720px) {
}

@media (max-width: 620px) {
}

@media (max-width: 350px) {
}
