@import '../../assets/base.css';

.headline .screen {
  flex-direction: column;
  padding: 2rem 0;
}

.headline h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline h1 svg {
  width: 40px;
  height: 40px;
  fill: var(--secondary-color);
}

.headline p span {
  color: var(--secondary-color);
}

.action .screen {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions a {
  margin: 2rem;
}
